<form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="customerName">Customer name</label>
      <input type="text" class="form-control" id="customerName" formControlName="customerName">
    </div>
  
    <div class="form-group">
      <label for="originalContent">Original content</label>
      <textarea class="form-control" id="originalContent" formControlName="originalContent"></textarea>
    </div>
  
    <div class="form-group">
      <label for="file">File</label>
      <input type="file" class="form-control" id="file" (change)="onFileSelected($event)">
    </div>
  
    <button type="submit" class="btn btn-primary">Odeslat</button>
  </form>