Transaction job list
<table class="table">
    <thead>
        <tr>
            <th>Job ID</th>
            <th>Original content</th>
            <th>Total price</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody *ngIf="jobs.length > 0">
        <tr *ngFor="let job of jobs">
            <td>{{ job.id }}</td>
            <td>{{ job.originalContent }}</td>
            <td>{{ job.price }}</td>
            <td>{{ job.status }}</td>
        </tr>
    </tbody>
    <p *ngIf="jobs.length">No jobs to show</p>
</table>



