<ul class="nav nav-pills ">
    <li *ngFor="let menuItem of menuItems" [ngClass]="{'nav-item':true, 'active': menuItem.isActive}">
        <a class="nav-link" [routerLink]="menuItem.link" (click)="SetItemActive(menuItem.name)">{{menuItem.name}}</a>
    </li>
</ul>

