<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'list'" id="list-tab" data-toggle="tab" href="javascript:void(0)" (click)="setActiveTab('list')">List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'create'" id="create-tab" data-toggle="tab" href="javascript:void(0)" (click)="setActiveTab('create')">Create</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade" [class.show]="activeTab === 'list'" [class.active]="activeTab === 'list'" id="list-component">
        <app-translation-jobs-list [activeTab]="activeTab"></app-translation-jobs-list>
    </div>
    <div class="tab-pane fade" [class.show]="activeTab === 'create'" [class.active]="activeTab === 'create'" id="create-component">
        <app-translation-jobs-add-form></app-translation-jobs-add-form>
    </div>
</div>